/* Styles pour Marketing Box */

/* Utilisation de la police Poppins pour tout le contenu de Marketing Box */
.marketing-box-layout {
    font-family: 'Poppins', sans-serif;
}

/* Classes utilitaires spécifiques pour les écrans très petits */
@media (min-width: 425px) {
    .xs\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .xs\:px-10 {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .xs\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Classes de hauteur de lignes personnalisées */
.leading-11 {
    line-height: 2.75rem;
}

.leading-13 {
    line-height: 3.25rem;
}

.text-xl\/7\.5 {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.text-xl\/10 {
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.text-2xl\/9 {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

/* Padding spécifiques */
.md\:px-21 {
    padding-left: 5.25rem;
    padding-right: 5.25rem;
}

.lg\:px-22 {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

.pt-29 {
    padding-top: 7.25rem;
}

.pb-4\.5 {
    padding-bottom: 1.125rem;
}

/* Espacements et tailles */
.w-18 {
    width: 4.5rem;
}

.h-18 {
    height: 4.5rem;
}

.w-34 {
    width: 8.5rem;
}