@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'fonts.scss';

$primary-white: #FBF8FF;
$primary-blue: #6D4FFF;
$primary-purple: #F421CB;
$primary-pink: #FF408E;
$primary-red: #FF865E;
$primary-orange: #FFC44D;
$primary-yellow: #F9F871;

* {
    font-family: 'Satoshi', sans-serif;
}