header {
    @include center-page;
    color: $color2;

    .header-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;

        .header-text {
            text-align: center;
            margin: auto;

            h1 {
                text-transform: uppercase;
                font-size: 5rem;
                letter-spacing: 7px;
                max-width: 800px;
                margin: auto;
                margin-bottom: 50px;

                @media screen and (max-width: 1074px) {
                    font-size: 4rem;
                    max-width: 650px;
                }

                @media screen and (max-width: 887px) {
                    font-size: 3rem;
                    max-width: 500px;
                }

                @media screen and (max-width: 759px) {
                    font-size: 2.5rem;
                    max-width: 450px;
                }

                @media screen and (max-width: 608px) {
                    font-size: 2.5rem;
                    max-width: 450px;
                }

                @media screen and (max-width: 552px) {
                    font-size: 2.5rem;
                    max-width: 650px;
                }

                @media screen and (max-width: 493px) {
                    font-size: 2rem;
                    max-width: 380px;
                }

                @media screen and (max-width: 418px) {
                    font-size: 1.8rem;
                }

                @media screen and (max-width: 388px) {
                    font-size: 1.7rem;
                }

                @media screen and (max-width: 373px) {
                    font-size: 1.6rem;
                }

                @media screen and (max-width: 358px) {
                    font-size: 1.5rem;
                }

                @media screen and (max-width: 343px) {
                    font-size: 1.4rem;
                }

                @media screen and (max-width: 328px) {
                    font-size: 1.3rem;
                }

                @media screen and (max-width: 313px) {
                    font-size: 1.2rem;
                }

                @media screen and (max-width: 300px) {
                    font-size: 1rem;
                }
            }

            p {
                font-family: $font2;
                font-style: italic;
                font-size: 1.3rem;
                margin-bottom: 73px;

                @media screen and (max-width: 493px) {
                    font-size: 1rem;
                }

                @media screen and (max-width: 300px) {
                    font-size: 0.8rem;
                }
            }

            a {
                color: $color2;
                border: 2px solid $color2;
                border-radius: 50px;
                @include center;
                margin: 0 auto;
                height: 75px;
                width: 75px;
            }

            i {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}