nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color3;

    .left-nav {
        display: flex;

        .nav-case {
            text-transform: uppercase;
            font-size: 0.9rem;
            letter-spacing: 2px;
            padding: 30px 20px;
            transition: 0.3s ease;

            @media screen and (max-width: 1381px) {
                padding: 30px 50px;
                text-align: center;
            }

            @media screen and (max-width: 820px) {
                padding: 30px 40px;
                font-size: 0.8rem;
            }

            @media screen and (max-width: 697px) {
                padding: 30px 15px;
                font-size: 0.7rem;
            }

            @media screen and (max-width: 570px) {
                padding: 30px 40px;
                font-size: 0.6rem;
            }

            @media screen and (max-width: 500px) {
                padding: 30px 30px;
                font-size: 0.6rem;
            }

            @media screen and (max-width: 430px) {
                padding: 30px 20px;
                font-size: 0.6rem;
            }

            @media screen and (max-width: 380px) {
                padding: 30px 10px;
                font-size: 0.6rem;
            }

            @media screen and (max-width: 318px) {
                padding: 30px 5px;
                font-size: 0.5rem;
            }

        }

        .nav-case:first-child {
            background: $color2;
            color: $color1;
        }

        .nav-case:hover {
            background: $color2;
            color: $color1;
        }
    }

    .left-nav:hover {
        .nav-case:first-child {
            background: none;
            color: $color2;
        }

        .nav-case:first-child:hover {
            background: $color2;
            color: $color1;
        }
    }

    .right-nav {
        height: 23px;
        text-align: center;

        @media screen and (max-width: 950px) {
            display: none;
        }

        ul {
            display: flex;

            li {
                margin: 0 36px;

                @media screen and (max-width: 1320px) {
                    margin: 0 18px;
                }

                @media screen and (max-width: 1134px) {
                    margin: 0 9px;
                }

                @media screen and (max-width: 1012px) {
                    margin: 0 4px;
                }

                a {
                    color: $color2;

                    i {
                        font-size: 1.4rem;
                        transition: 0.3s;

                        @media screen and (max-width: 1134px) {
                            font-size: 1.2rem;
                        }


                        @media screen and (max-width: 1012px) {
                            font-size: 1rem;
                        }

                    }

                    i:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}