section {
    @include center-page;

    .section-container {
        background: $color2;
        text-align: center;

        p:first-child {
            font-family: $font2;
            padding: 89px 0;
            font-size: 1.3rem;
            position: relative;
        }

        p:first-child:before {
            content: "";
            height: 2px;
            background: $color4;
            position: absolute;
            width: 30%;
            left: 10%;
            top: 100px;

            @media screen and (max-width:1200px) {
                left: 9%;
                width: 25%;
            }

            @media screen and (max-width:715px) {
                left: 7%;
                width: 20%;
            }

            @media screen and (max-width:390px) {
                left: 6%;
                width: 15%;
            }

            @media screen and (max-width:300px) {
                display: none;
            }
        }


        p:first-child:after {
            content: "";
            height: 2px;
            background: $color4;
            position: absolute;
            width: 30%;
            right: 10%;
            top: 100px;

            @media screen and (max-width:1200px) {
                right: 9%;
                width: 25%;
            }

            @media screen and (max-width:715px) {
                right: 7%;
                width: 20%;
            }

            @media screen and (max-width:390px) {
                right: 6%;
                width: 15%;
            }

            @media screen and (max-width:300px) {
                display: none;
            }
        }

        h2 {
            text-transform: uppercase;
            font-size: 3.6rem;
            letter-spacing: 6px;
            max-width: 700px;
            margin: 0 auto;

            @media screen and (max-width: 1200px) {
                font-size: 3rem;
                max-width: 600px;
            }

            @media screen and (max-width: 1020px) {
                font-size: 2.5rem;
                max-width: 500px;
            }

            @media screen and (max-width: 840px) {
                font-size: 2rem;
                max-width: 450px;
            }


            @media screen and (max-width: 710px) {
                max-width: 400px;
            }

            @media screen and (max-width: 430px) {
                font-size: 1.5rem;
                max-width: 300px;
            }


            @media screen and (max-width: 321px) {
                font-size: 1.2rem;
                max-width: 300px;
            }

            @media screen and (max-width: 276px) {
                font-size: 1rem;
                max-width: 300px;
            }
        }

        p:nth-child(n+2) {
            font-family: $font2;
            font-style: italic;
            font-size: 1rem;
            padding: 40px 10px 52px;
            max-width: 720px;
            margin: 0 auto;
            line-height: 42px;

            @media screen and (max-width: 1066px) {
                max-width: 500px;
            }

            @media screen and (max-width: 780px) {
                max-width: 400px;
            }

            @media screen and (max-width: 630px) {
                max-width: 300px;
            }

            @media screen and (max-width: 527px) {
                max-width: 250px;
            }

            @media screen and (max-width: 330px) {
                max-width: 200px;
            }
        }

        .img {
            max-width: 1100px;
            margin: 0 auto;

            img {
                width: 100%;
            }

            @media screen and (max-width: 1676px) {
                max-width: 900px;
            }

            @media screen and (max-width: 1476px) {
                max-width: 700px;
            }


            @media screen and (max-width: 1195px) {
                max-width: 600px;
            }

            @media screen and (max-width: 1012px) {
                max-width: 500px;
            }

            @media screen and (max-width: 838px) {
                max-width: 400px;
            }

            @media screen and (max-width: 650px) {
                max-width: 360px;
            }
        }

        button {
            margin: 65px 0 110px;
        }

    }
}